<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#25282c">
    <meta property="og:title" content="placeholder">
    <meta property="og:image" content="placeholder">
    <meta property="og:description" content="placeholder">
    <meta property="og:type" content="website">

    <title>placeholder</title>

    <link rel="shortcut icon" href="./favicon.ico" type="image/png">

    <link rel="stylesheet" type="text/css" href="./style.io.min.css">
    <link rel="stylesheet" type="text/css" href="./minstyle.io.css">
    <link rel="stylesheet" type="text/css" href="./index.css">

    <script defer src="https://unpkg.com/htmx.org"></script>
    <script defer src="https://unpkg.com/dark-mode-switcher@latest/dist/dark.min.js"></script>

    <script src="./std.js"></script>
</head>

<body>
    <script defer type="module" src="./index.js"></script>

    <header>
        <div class="ms-menu">
            <div class="ms-menu-logo m-0">
                <a onclick="loadIndexContent()"><img alt="Logo" id="logo"></a>
            </div>
            <nav class="ms-menu-link">
                <ul>
                    <a hx-get="./characters/index.html" hx-target="#external-content" onclick="loadExternalContent()">
                        <li>Characters</li>
                    </a>
                    <a hx-get="./statistics/index.html" hx-target="#external-content" onclick="loadExternalContent()">
                        <li>Statistics</li>
                    </a>
                    <a hx-get="./faq/index.html" hx-target="#external-content" onclick="loadExternalContent()">
                        <li>FAQ</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div id="external-content"></div>
    </main>

    <footer id="index-content">
        <div class="container">
            <div class="ms-content">
                <hgroup class="ms-text-center py-4">
                    <h2 class="shadow">Welcome to placeholder!</h1>
                        <h5 class="shadow">A place where you can search placeholder games!</h5>
                </hgroup>
                <input type="hidden" id="page" name="page" value="1">
                <div class="row">
                    <div class="col-sm">
                        <div class="ms-form-group">
                            <label><b>PLAYER</b></label>
                            <span class="select">
                                <select id="p1charMain" name="p1charMain" class="pchar">
                                    <option value="">Select main character</option>
                                </select>
                            </span>
                        </div>
                        <div class="ms-form-group">
                            <span class="select">
                                <select id="p1charSub" name="p1charSub" class="pchar">
                                    <option value="">Select sub character</option>
                                </select>
                            </span>
                        </div>
                        <div class="ms-form-group">
                            <input id="p1name" name="p1name" placeholder="Player name" list="p1name-list">
                            <datalist id="p1name-list" class="pname-list">
                            </datalist>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="ms-form-group">
                            <label><b>MATCH DETAILS</b></label>
                            <span class="select">
                                <select id="result" name="result">
                                    <option value="">Select result</option>
                                    <option value="1">Player 1</option>
                                    <option value="2">Player 2</option>
                                    <option value="0">Draw</option>
                                </select>
                            </span>
                        </div>
                        <div class="ms-form-group">
                            <input id="minELO" name="min-elo" placeholder="Min. avg. ELO">
                        </div>
                        <div class="ms-form-group">
                            <input id="maxELO" name="max-elo" placeholder="Max. avg. ELO">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="ms-form-group">
                            <label><b>ANOTHER PLAYER</b></label>
                            <span class="select">
                                <select id="p2charMain" name="p2charMain" class="pchar">
                                    <option value="">Select main character</option>
                                </select>
                            </span>
                        </div>
                        <div class="ms-form-group">
                            <span class="select">
                                <select id="p2charSub" name="p2charSub" class="pchar">
                                    <option value="">Select sub character</option>
                                </select>
                            </span>
                        </div>
                        <div class="ms-form-group">
                            <input id="p2name" name="p2name" placeholder="Player name" list="p2name-list">
                            <datalist id="p2name-list" class="pname-list">
                            </datalist>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="ms-form-group">
                            <label><b>OTHER DETAILS</b></label>
                            <input id="matchTags" name="tag" type="text" placeholder="Tag search" list="tag-list">
                            <datalist id="tag-list" class="tag-list">
                            </datalist>
                        </div>
                        <div class="ms-form-group">
                            <input id="videoId" name="vid" placeholder="Video ID" list="videoId-list">
                            <datalist id="videoId-list" class="videoId-list">
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <button id="search-button"
                            class="ms-btn ms-action ms-info ms-fullwidth ms-medium d-none">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 id="have-results" class="ms-text-center py-4 shadow d-none">Do a search!</h2>

            <h2 id="no-results" class="ms-text-center py-4 shadow d-none">No results.</h2>

            <div id="results" class="d-none">
            </div>
        </div>
    </footer>

    <script>
        function loadIndexContent() {
            window.top.document.title = config.app_name;

            $("index-content").classList.remove("d-none");
            $("external-content").classList.add("d-none");
        }

        function loadExternalContent() {
            let changeContent = function (_event) {
                $("index-content").classList.add("d-none");
                $("external-content").classList.remove("d-none");

                document.body.removeEventListener("htmx:afterSwap", changeContent);
            };

            document.body.addEventListener("htmx:afterSwap", changeContent);
        }
    </script>
</body>

</html>
